<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://sgreentest.oss-cn-beijing.aliyuncs.com/ios/1.02/SGreen.ipa?Expires=1542180709&OSSAccessKeyId=TMP.AQEVEDMl7kZqjwK_v7SQ-rm7Z-lJCTkxK1HIcQOQNZp2t-cA3f4-NxlpPe3BADAtAhUA7eKABMf6nkbR_P_iPOlPoMXNGkMCFE3nYm7EHxk2sezzXppqIWupFa1l&Signature=hctY1BI0fMwVQjdjLCMbwNzHGXI%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/newbreedlimited/sgreenvpn/raw/master/icon_57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/newbreedlimited/sgreenvpn/raw/master/icon_512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.newbreed.SGreen</string>
				<key>bundle-version</key>
				<string>1.02</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SGreenVPN</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
